<section class="page">
    <div class="app">
        <h1 class="text-center"> Todo List </h1>
    </div>
    <div class="todos">
        <form (submit)="addTodo()"> 
            <input type="text" name="inputTodo" placeholder="Enter todo...." class="todo-input"
                [(ngModel)]="inputTodo" />
            <input type="submit" value="Add Todo" class="todo-submit" />
        </form>
        <div class="todo" *ngFor="let todo of todos; let i=index" class="todo {{ (todo.completed ? 'done' : '') }}">
            <div class="id">{{ i+1 }}</div>
            <div class="content" (click)="toggleDone(i)">
                {{ todo.content }}</div>
                
                <button
                class="delete"
                mwlConfirmationPopover
                popoverTitle="Record Delete Confirmation!"
                popoverMessage="Are you sure! You want to Delete." 
                placement="left"
                style="color: black; border: 2px solid black; background-color: rgb(219, 6, 6);"
                (confirm)="deleteTodo(i)"> Remove </button>
        </div>
    </div>
</section>






<!-- <button class="delete" (click)="deleteTodo(i)">
    Remove</button> -->